@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}


/* Header Section */
.header {
  width: 100%;
  height: 80px;
  background-color: rgb(32, 32, 248);
  /* padding-top: 20px; */
  display: flex;
  align-items: center;
}

.navbar {
  width: 85%;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  align-items: center;
}

.nav_list .logo {
  margin-right: 70px;
}

.nav_items {
  display: flex;
  list-style: none;
}

.nav_items li {
  color: #fff;
  margin-right: 30px;
}

.toggle_btn {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;

}

.toggle_btn i {
    font-size: 25px;
    border: 1px solid #fff;
  padding: 8px;
  border-radius: 50px;
}
